.lazyloading {
    display: flex;
    flex-direction: column;
}

.lazyloading picture {
    height: 400px;
    width: 300px;
    margin: 10px auto;
}

img {
    height: 100%;
    width: 100%;
}

.lazyloading img[data-src] {
	filter: blur(0.2em);
}
.lazyloading img {
	filter: blur(0em);
	transition: filter 0.5s;
    height: 400px;
    width: 300px;

}



h1 {
    text-align: center;
}