body {
	font-size: 18px;
	font-family: "Source Serif 4", sans-serif;
    
}

h1, h2, h3 {
    font-family: "DM Serif Display", sans-serif;
	padding: 1rem;
	margin: 0;
}

.header {
	margin-bottom: 15px;
	text-align: center;
}
main {
	max-width: 767px;
	margin: 0 auto;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}

main section h2 {
	color: #536878;
}

main section {
	background-color: #eee;
	border-radius: 15px;
}


.colimage {
	box-shadow: 0 0 30px #333;
}

section {
	margin : 0;
	padding : 0; 
	border : 0;
}

p, a{
	padding: 0.7rem 1rem;
	margin: 0;
}

.subtitle {
	background-color: rgb(40, 59, 95);
	color: #fff;
	
}

img {
	width: 100%;
	margin-top: 10px;
}

.footer {	
	text-align: center;
	margin:auto;
	margin-top: 10px;
}

header, footer {
	background-color: rgb(18, 29, 49);
	color: #fff;
}

